################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/02-Main/.vs
/02-Main/bin
/02-Main/obj
