@page
@model StairwayDesigns.Pages.About_UsModel
@{
    ViewData["Title"] = "Sri Vinayaka Classes - Education & Learning Platform";
}

<!-- Mobile Menu-->



<div id="wrapper-container" class="wrapper-container">
    <div class="content-pusher">
        <header id="masthead" class="site-header affix-top bg-custom-sticky sticky-header header_overlay header_v1">
            <div id="toolbar" class="toolbar">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="toolbar-container">
                                <style id="elementor-post-9335">
                                        .elementor-9335 .elementor-element.elementor-element-8fadafe > .elementor-container > .elementor-column > .elementor-widget-wrap {
                                            align-content: center;
                                            align-items: center;
                                        }

                                        .elementor-9335 .elementor-element.elementor-element-8fadafe {
                                            transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
                                        }

                                            .elementor-9335 .elementor-element.elementor-element-8fadafe > .elementor-background-overlay {
                                                transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
                                            }

                                        .elementor-bc-flex-widget .elementor-9335 .elementor-element.elementor-element-3993533.elementor-column .elementor-widget-wrap {
                                            align-items: center;
                                        }

                                        .elementor-9335 .elementor-element.elementor-element-3993533.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
                                            align-content: center;
                                            align-items: center;
                                        }

                                        .elementor-9335 .elementor-element.elementor-element-3993533 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
                                            margin-bottom: 0px;
                                        }

                                        .elementor-9335 .elementor-element.elementor-element-6cd4abb .thim-header-info {
                                            margin: 0;
                                        }

                                            .elementor-9335 .elementor-element.elementor-element-6cd4abb .thim-header-info > li {
                                                display: inline-block;
                                            }

                                        .elementor-9335 .elementor-element.elementor-element-6cd4abb .thim-header-info {
                                            text-align: left;
                                        }

                                            .elementor-9335 .elementor-element.elementor-element-6cd4abb .thim-header-info > li {
                                                margin: 0px 10px 0px 0px;
                                            }

                                                .elementor-9335 .elementor-element.elementor-element-6cd4abb .thim-header-info > li > a, .elementor-9335 .elementor-element.elementor-element-6cd4abb .thim-header-info > li {
                                                    font-weight: 400;
                                                }

                                                    .elementor-9335 .elementor-element.elementor-element-6cd4abb .thim-header-info > li i {
                                                        font-size: 14px;
                                                    }

                                                    .elementor-9335 .elementor-element.elementor-element-6cd4abb .thim-header-info > li svg {
                                                        max-width: 14px;
                                                        height: auto;
                                                    }

                                        body:not(.rtl) .elementor-9335 .elementor-element.elementor-element-6cd4abb .thim-header-info > li i, body:not(.rtl) .elementor-9335 .elementor-element.elementor-element-6cd4abb .thim-header-info > li svg {
                                            margin-right: 3px;
                                        }

                                        body.rtl .elementor-9335 .elementor-element.elementor-element-6cd4abb .thim-header-info > li i, body.rtl .elementor-9335 .elementor-element.elementor-element-6cd4abb .thim-header-info > li svg {
                                            margin-left: 3px;
                                        }

                                        .elementor-9335 .elementor-element.elementor-element-42f2c77.elementor-column > .elementor-widget-wrap {
                                            justify-content: flex-end;
                                        }

                                        .elementor-9335 .elementor-element.elementor-element-42f2c77 > .elementor-element-populated {
                                            text-align: left;
                                        }

                                        .elementor-9335 .elementor-element.elementor-element-1f95659 {
                                            width: auto;
                                            max-width: auto;
                                        }

                                            .elementor-9335 .elementor-element.elementor-element-1f95659 .thim-link-login a {
                                                padding: 0px 20px 0px 20px;
                                                margin: 0px 0px 0px 0px;
                                            }

                                        .site-header .navbar-nav > li.menu-right .elementor-9335 .elementor-element.elementor-element-1f95659 .thim-link-login a {
                                            padding: 0px 20px 0px 20px;
                                        }

                                        .elementor-9335 .elementor-element.elementor-element-1f95659 .thim-link-login a:last-child {
                                            margin-right: 0;
                                        }

                                        .elementor-9335 .elementor-element.elementor-element-1f95659 .thim-link-login a:first-child {
                                            margin-left: 0;
                                        }

                                        .elementor-9335 .elementor-element.elementor-element-1f95659 .thim-link-login a {
                                            font-weight: 400;
                                        }

                                        .elementor-9335 .elementor-element.elementor-element-1f95659 .thim-link-login .register {
                                            border-style: solid;
                                            border-width: 0px 1px 0px 0px;
                                            border-color: #E7E7E7;
                                        }

                                        .elementor-9335 .elementor-element.elementor-element-1f95659 .thim-link-login .login {
                                            border-style: none;
                                        }

                                        .elementor-9335 .elementor-element.elementor-element-1f95659 .thim-link-login .logout {
                                            border-style: none;
                                        }

                                        .elementor-9335 .elementor-element.elementor-element-1f95659 .thim-link-login .profile {
                                            border-style: solid;
                                            border-width: 0px 1px 0px 0px;
                                            border-color: #E7E7E7;
                                        }

                                        @@media(max-width:1024px) {
                                            .elementor-9335 .elementor-element.elementor-element-3993533 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
                                                margin-bottom: 0px;
                                            }

                                            .elementor-9335 .elementor-element.elementor-element-6cd4abb .thim-header-info > li {
                                                margin: 0px 0px 0px 0px;
                                            }

                                                .elementor-9335 .elementor-element.elementor-element-6cd4abb .thim-header-info > li > a, .elementor-9335 .elementor-element.elementor-element-6cd4abb .thim-header-info > li {
                                                    font-size: 0px;
                                                }

                                            body:not(.rtl) .elementor-9335 .elementor-element.elementor-element-6cd4abb .thim-header-info > li i, body:not(.rtl) .elementor-9335 .elementor-element.elementor-element-6cd4abb .thim-header-info > li svg {
                                                margin-right: 20px;
                                            }

                                            body.rtl .elementor-9335 .elementor-element.elementor-element-6cd4abb .thim-header-info > li i, body.rtl .elementor-9335 .elementor-element.elementor-element-6cd4abb .thim-header-info > li svg {
                                                margin-left: 20px;
                                            }
                                        }

                                        @@media(min-width:768px) {
                                            .elementor-9335 .elementor-element.elementor-element-3993533 {
                                                width: 69.082%;
                                            }

                                            .elementor-9335 .elementor-element.elementor-element-42f2c77 {
                                                width: 30.828%;
                                            }
                                        }

                                        @@media(max-width:1024px) and (min-width:768px) {
                                            .elementor-9335 .elementor-element.elementor-element-3993533 {
                                                width: 50%;
                                            }

                                            .elementor-9335 .elementor-element.elementor-element-42f2c77 {
                                                width: 50%;
                                            }
                                        }

                                        @@media(max-width:767px) {
                                            .elementor-9335 .elementor-element.elementor-element-3993533 {
                                                width: 50%;
                                            }

                                            .elementor-9335 .elementor-element.elementor-element-42f2c77 {
                                                width: 50%;
                                            }

                                                .elementor-9335 .elementor-element.elementor-element-42f2c77.elementor-column > .elementor-widget-wrap {
                                                    justify-content: flex-end;
                                                }

                                            .elementor-9335 .elementor-element.elementor-element-1f95659 .thim-link-login a {
                                                padding: 0px 10px 0px 10px;
                                            }

                                            .site-header .navbar-nav > li.menu-right .elementor-9335 .elementor-element.elementor-element-1f95659 .thim-link-login a {
                                                padding: 0px 10px 0px 10px;
                                            }

                                            .elementor-9335 .elementor-element.elementor-element-1f95659 .thim-link-login a {
                                                font-size: 13px;
                                            }
                                        }
                                        /* Start custom CSS for thim-login-popup, class: .elementor-element-1f95659 */

                                        .thim-link-login a:last-child {
                                            padding-right: 3px !important
                                        }
                                        /* End custom CSS */
                                </style>
                                <aside id="text-1210020" class="widget widget_text">
                                    <div class="textwidget">
                                        <div data-elementor-type="wp-post" data-elementor-id="9335" class="elementor elementor-9335">
                                            <section class="elementor-section elementor-top-section elementor-element elementor-element-8fadafe elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="8fadafe" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                                <div class="elementor-container elementor-column-gap-no">
                                                    <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-3993533" data-id="3993533" data-element_type="column">
                                                        <div class="elementor-widget-wrap elementor-element-populated">
                                                            <div class="elementor-element elementor-element-6cd4abb elementor-widget elementor-widget-thim-ekits-header-info" data-id="6cd4abb" data-element_type="widget" data-widget_type="thim-ekits-header-info.default">
                                                                @*<div class="elementor-widget-container">
                                                                    <div class="header-info-swapper">
                                                                        <ul class="thim-header-info">
                                                                            <li>

                                                                                Contact us:
                                                                            </li>
                                                                            <li>
                                                                                <span>
                                                                                    <i aria-hidden="true" class="tk tk-phone"></i>
                                                                                </span>

                                                                                (+88) 1990 6886
                                                                            </li>
                                                                            <li>
                                                                                <span>
                                                                                    <i aria-hidden="true" class="tk tk-envelope"></i>
                                                                                </span>

                                                                                <a href="https://eduma.thimpress.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="f5969a9b81949681b5819d9c988587908686db969a98">[email&#160;protected]</a>
                                                                            </li>
                                                                            <li>
                                                                                <a href="https://accountlp.thimpress.com/" target="_blank">
                                                                                    <span>
                                                                                        <i aria-hidden="true" class="tk tk-students-friend"></i>
                                                                                    </span>

                                                                                    Demo account
                                                                                </a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>*@

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-42f2c77" data-id="42f2c77" data-element_type="column">
                                                        <div class="elementor-widget-wrap elementor-element-populated">
                                                            <div class="elementor-element elementor-element-1f95659 elementor-widget__width-auto elementor-widget elementor-widget-thim-login-popup" data-id="1f95659" data-element_type="widget" data-widget_type="thim-login-popup.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="thim-link-login thim-login-popup">
                                                                        <a class="register js-show-popup" href="account/index0ddc.html?action=register">Register</a><a class="login js-show-popup" href="account//">Login</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>

                                    </div>
                                </aside>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--End/div#toolbar-->
            <!-- <div class="main-menu"> -->
            <div class="thim-nav-wrapper container">
                <div class="row">
                    <div class="navigation col-sm-12">
                        <div class="tm-table">
                            <div class="width-logo table-cell sm-logo">
                                <a href="/" title="Demo Main - Education WordPress Theme" rel="home" class="thim-logo"><img src="wp-content/uploads/sites/95/2022/12/logo-edu-white.png" alt="Demo Main" width="auto" height="auto" data-sticky="https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2022/06/logo-edu_black.png"></a>
                            </div>

                            <nav class="width-navigation table-cell table-right">
                                @await Html.PartialAsync("_PageMenu")
                            </nav>

                            <div class="menu-mobile-effect navbar-toggle" data-effect="mobile-effect">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </div>

                        </div>
                        <!--end .row-->
                    </div>
                </div>
            </div>
        </header>

        <div id="main-content">
            <section class="content-area" style="min-height: 497px;">
                <div class="top_heading_out">
                    <div class="top_site_main" style="color: rgb(255, 255, 255); background-image: url(&quot;../wp-content/uploads/sites/95/2022/11/Eduma-cover-banner-17.jpg&quot;); padding-top: 120.203px;">
                        <span class="overlay-top-header" style="background-color:rgba(0,0,0,0.5);"></span><div class="page-title-wrapper">
                            <div class="banner-wrapper container">
                                <h1 class="page-title">About Us</h1>
                            </div>
                        </div>
                    </div><div class="breadcrumbs-wrapper">
                        <div class="container">
                            <ul class="breadcrumbs" id="breadcrumbs"><li><a href="/">Home</a></li><li>About Us</li></ul>
                        </div>
                    </div>
                </div>
                <div class="container site-content">
                    
                </div>
            </section>
        </div>
    </div>
</div>
