@page
@model StairwayDesigns.Pages.About_UsModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Sri Vinayaka Classes - Education & Learning Platform";
}


<section class="content-area" style="min-height: 497px;">
    <div class="top_heading_out">
        <div class="top_site_main" style="color: rgb(255, 255, 255); background-image: url(&quot;../wp-content/uploads/sites/95/2022/11/Eduma-cover-banner-17.jpg&quot;); padding-top: 120.203px;">
            <span class="overlay-top-header" style="background-color:rgba(0,0,0,0.5);"></span>				<div class="page-title-wrapper">
                <div class="banner-wrapper container">
                    <h1 class="page-title">About Us</h1>
                </div>
            </div>
        </div>		<div class="breadcrumbs-wrapper">
            <div class="container">
                <ul class="breadcrumbs" id="breadcrumbs"><li><a href="../index.html">Home</a></li><li>About Us</li></ul>
            </div>
        </div>
    </div>
    <div class="container site-content">
        <div class="row">
            <main id="main" class="site-main col-sm-12 full-width">


                <article id="post-2901" class="post-2901 page type-page status-publish hentry pmpro-has-access">
                    <div class="entry-content">
                        <div data-elementor-type="wp-post" data-elementor-id="2901" class="elementor elementor-2901">
                            <section class="elementor-section elementor-top-section elementor-element elementor-element-7d27883 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="7d27883" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}" style="width: 1897px; left: -378.5px;">
                                <div class="elementor-container elementor-column-gap-default">
                                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-d513acf" data-id="d513acf" data-element_type="column">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-3197733 thim-ekits-heading-text-center elementor-widget thim-ekits-heading elementor-widget-thim-heading" data-id="3197733" data-element_type="widget" data-widget_type="thim-heading.default">
                                                <div class="elementor-widget-container">
                                                    <div class="sc_heading text-center">
                                                        <h2 class="title">Learn with passion to live with purpose. </h2><div class="sub-heading">
                                                            <p>Neque convallis a cras semper auctor. Libero id faucibus nisl tincidunt egetnvallis a cras semper auctonvallis a cras semper aucto. </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="elementor-section elementor-top-section elementor-element elementor-element-872013e elementor-section-stretched about-counter elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="872013e" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}" style="width: 1897px; left: -378.5px;">
                                <div class="elementor-container elementor-column-gap-default">
                                    <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-2b6ec5b" data-id="2b6ec5b" data-element_type="column">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-720afbb elementor-widget thim-counters-box" data-id="720afbb" data-element_type="widget" data-widget_type="thim-counters-box.default">
                                                <div class="elementor-widget-container">
                                                    <div class="counter-box home-page counter-icon-inherit">
                                                        <div class="icon-counter-box"><i aria-hidden="true" class="tk tk-geography"></i></div><div class="content-box-percentage">
                                                            <div class="wrap-percentage">
                                                                <div class="display-percentage" data-percentage="94532">94532</div>
                                                            </div><div class="counter-content-container"><div class="counter-box-content">Foreign Followers</div></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-aae9ebe" data-id="aae9ebe" data-element_type="column">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-365d43d elementor-widget thim-counters-box" data-id="365d43d" data-element_type="widget" data-widget_type="thim-counters-box.default">
                                                <div class="elementor-widget-container">
                                                    <div class="counter-box home-page counter-icon-inherit">
                                                        <div class="icon-counter-box"><i aria-hidden="true" class="tk tk-chalkboard1"></i></div><div class="content-box-percentage">
                                                            <div class="wrap-percentage">
                                                                <div class="display-percentage" data-percentage="11223">11223</div>
                                                            </div><div class="counter-content-container"><div class="counter-box-content">Classes Complete</div></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-6f1c93e" data-id="6f1c93e" data-element_type="column">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-2e9c04e elementor-widget thim-counters-box" data-id="2e9c04e" data-element_type="widget" data-widget_type="thim-counters-box.default">
                                                <div class="elementor-widget-container">
                                                    <div class="counter-box home-page counter-icon-inherit">
                                                        <div class="icon-counter-box"><i aria-hidden="true" class="tk tk-studying"></i></div><div class="content-box-percentage">
                                                            <div class="wrap-percentage">
                                                                <div class="display-percentage" data-percentage="25678">25678</div>
                                                            </div><div class="counter-content-container"><div class="counter-box-content">Students Enrolled</div></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-7e310a7" data-id="7e310a7" data-element_type="column">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-4a21343 elementor-widget thim-counters-box" data-id="4a21343" data-element_type="widget" data-widget_type="thim-counters-box.default">
                                                <div class="elementor-widget-container">
                                                    <div class="counter-box home-page counter-icon-inherit">
                                                        <div class="icon-counter-box"><i aria-hidden="true" class="tk tk-mortarboard"></i></div><div class="content-box-percentage">
                                                            <div class="wrap-percentage">
                                                                <div class="display-percentage" data-percentage="2678">2678</div>
                                                            </div><div class="counter-content-container"><div class="counter-box-content">Certified  Teachers</div></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="elementor-section elementor-top-section elementor-element elementor-element-dbdef59 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="dbdef59" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}" style="width: 1897px; left: -378.5px;">
                                <div class="elementor-container elementor-column-gap-no">
                                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-7a78582" data-id="7a78582" data-element_type="column">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-de2c6d7 thim-ekits-heading-text-center elementor-widget thim-ekits-heading elementor-widget-thim-heading" data-id="de2c6d7" data-element_type="widget" data-widget_type="thim-heading.default">
                                                <div class="elementor-widget-container">
                                                    <div class="sc_heading text-center">
                                                        <h2 class="title">What Make Us Spcecial? </h2><div class="sub-heading">
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipisc ing elit.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="elementor-section elementor-top-section elementor-element elementor-element-2774d67 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="2774d67" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}" style="width: 1897px; left: -378.5px;">
                                <div class="elementor-container elementor-column-gap-default">
                                    <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-550e34f" data-id="550e34f" data-element_type="column">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-fb15edd iconbox-text-left elementor-widget elementor-widget-thim-icon-box" data-id="fb15edd" data-element_type="widget" data-widget_type="thim-icon-box.default">
                                                <div class="elementor-widget-container">
                                                    <div class="thim-widget-icon-box"><div class="wrapper-box-icon has_custom_image text-left "><div class="smicon-box iconbox-top"><div class="boxes-icon"><a class="icon-box-link" href="#" target="_blank"><span class="inner-icon"><span class="icon icon-images"><img loading="lazy" decoding="async" src="../wp-content/uploads/sites/95/2015/11/courses-7.jpg" alt="courses 7" width="970" height="560"></span></span></a></div><div class="content-inner"><div class="sc-heading"><h3 class="heading__primary"><a class="icon-box-link" href="#" target="_blank">Who we are</a></h3></div><div class="desc-icon-box"><div class="desc-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div><a class="smicon-read sc-btn" href="#" target="_blank">Read more <i class="edu-chevron-right"></i></a></div></div></div></div></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-8246a6f" data-id="8246a6f" data-element_type="column">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-790c993 iconbox-text-left elementor-widget elementor-widget-thim-icon-box" data-id="790c993" data-element_type="widget" data-widget_type="thim-icon-box.default">
                                                <div class="elementor-widget-container">
                                                    <div class="thim-widget-icon-box"><div class="wrapper-box-icon has_custom_image text-left "><div class="smicon-box iconbox-top"><div class="boxes-icon"><a class="icon-box-link" href="#" target="_blank"><span class="inner-icon"><span class="icon icon-images"><img loading="lazy" decoding="async" src="../wp-content/uploads/sites/95/2015/12/courses-4.jpg" alt="courses 4" width="970" height="560"></span></span></a></div><div class="content-inner"><div class="sc-heading"><h3 class="heading__primary"><a class="icon-box-link" href="#" target="_blank">Who we do</a></h3></div><div class="desc-icon-box"><div class="desc-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div><a class="smicon-read sc-btn" href="#" target="_blank">Read more <i class="edu-chevron-right"></i></a></div></div></div></div></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-7169a04" data-id="7169a04" data-element_type="column">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-890b45a iconbox-text-left elementor-widget elementor-widget-thim-icon-box" data-id="890b45a" data-element_type="widget" data-widget_type="thim-icon-box.default">
                                                <div class="elementor-widget-container">
                                                    <div class="thim-widget-icon-box"><div class="wrapper-box-icon has_custom_image text-left "><div class="smicon-box iconbox-top"><div class="boxes-icon"><a class="icon-box-link" href="#" target="_blank"><span class="inner-icon"><span class="icon icon-images"><img loading="lazy" decoding="async" src="../wp-content/uploads/sites/95/2015/06/courses-8.jpg" alt="courses 8" width="970" height="560"></span></span></a></div><div class="content-inner"><div class="sc-heading"><h3 class="heading__primary"><a class="icon-box-link" href="#" target="_blank">How it work</a></h3></div><div class="desc-icon-box"><div class="desc-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div><a class="smicon-read sc-btn" href="#" target="_blank">Read more <i class="edu-chevron-right"></i></a></div></div></div></div></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="elementor-section elementor-top-section elementor-element elementor-element-02ebb41 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="02ebb41" data-element_type="section">
                                <div class="elementor-container elementor-column-gap-default">
                                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-2365040" data-id="2365040" data-element_type="column">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-3b189ec iconbox-text-left elementor-widget elementor-widget-thim-icon-box" data-id="3b189ec" data-element_type="widget" data-widget_type="thim-icon-box.default">
                                                <div class="elementor-widget-container">
                                                    <div class="thim-widget-icon-box"><div class="wrapper-box-icon text-left "><div class="smicon-box iconbox-left"><div class="boxes-icon"><span class="inner-icon"><span class="icon"><i aria-hidden="true" class="tk tk-quoc"></i></span></span></div><div class="content-inner"><div class="sc-heading"><h3 class="heading__primary">Cras tristique turpis justo, eu consequat sem adipiscing ut. Donec posuere bibendum metus.</h3></div><div class="desc-icon-box"><div class="desc-content">Tony Nguyen, Co-Founder</div></div></div></div></div></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="elementor-section elementor-top-section elementor-element elementor-element-ab70d98 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="ab70d98" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}" style="width: 1897px; left: -378.5px;">
                                <div class="elementor-background-overlay"></div>
                                <div class="elementor-container elementor-column-gap-extended">
                                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-ba6aeb6" data-id="ba6aeb6" data-element_type="column">
                                        <div class="elementor-widget-wrap elementor-element-populated e-swiper-container">
                                            <div class="elementor-element elementor-element-4b0d10b thim-ekits-heading-text-center elementor-widget thim-ekits-heading elementor-widget-thim-heading" data-id="4b0d10b" data-element_type="widget" data-widget_type="thim-heading.default">
                                                <div class="elementor-widget-container">
                                                    <div class="sc_heading text-center">
                                                        <h2 class="title">Meet Our Team </h2><div class="sub-heading">
                                                            <p>Plugins your themes with even more features.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="elementor-element elementor-element-88ae4cc thim-ekit-team-slider elementor-widget elementor-widget-thim-ekits-team e-widget-swiper" data-id="88ae4cc" data-element_type="widget" data-settings="{&quot;slidesPerView&quot;:5,&quot;slidesPerGroup&quot;:1,&quot;spaceBetween&quot;:15,&quot;slidesPerView_tablet&quot;:3,&quot;slidesPerView_mobile&quot;:&quot;2&quot;,&quot;spaceBetween_mobile&quot;:&quot;15&quot;,&quot;slider_speed&quot;:1000,&quot;slider_show_pagination&quot;:&quot;none&quot;}" data-widget_type="thim-ekits-team.default">
                                                <div class="elementor-widget-container">


                                                    <div class="thim-ekits-sliders swiper-container swiper-initialized swiper-horizontal swiper-pointer-events swiper-watch-progress swiper-backface-hidden">
                                                        <div class=" swiper-wrapper" id="swiper-wrapper-62694b67d14f85d7" aria-live="polite" style="transform: translate3d(0px, 0px, 0px);">
                                                            <div class="thim-ekit-team__article swiper-slide post-2901 page type-page status-publish hentry pmpro-has-access swiper-slide-visible swiper-slide-active" role="group" aria-label="1 / 5" style="width: 216px; margin-right: 15px;">
                                                                <div class="thim-ekit-team__thumbnail">
                                                                    <div class="thim-ekit-team__image">
                                                                        <img loading="lazy" decoding="async" width="200" height="200" src="../wp-content/uploads/sites/95/2015/11/team-7.jpg" class="attachment-medium size-medium wp-image-2923" alt="team 7" srcset="https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/11/team-7.jpg 200w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/11/team-7-150x150.jpg 150w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/11/team-7-100x100.jpg 100w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/11/team-7-60x60.jpg 60w" sizes="(max-width: 200px) 100vw, 200px">
                                                                    </div>
                                                                    <div class="thim-ekit-team__list-social">
                                                                        <div class="thim-ekit-team__social">
                                                                            <a href="#" target="_blank"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
                                                                        </div><div class="thim-ekit-team__social">
                                                                            <a href="#" target="_blank"><i class="tk-x-twitter" aria-hidden="true"></i></a>
                                                                        </div><div class="thim-ekit-team__social">
                                                                            <a href="#" target="_blank"><i class="fab fa-youtube" aria-hidden="true"></i></a>
                                                                        </div><div class="thim-ekit-team__social">
                                                                            <a href="#" target="_blank"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="thim-ekit-team__content">
                                                                    <div class="thim-ekit-team__member-name">Owen Christ</div>			<div class="thim-ekit-team__member-description">
                                                                        After working as a software developer and...
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="thim-ekit-team__article swiper-slide post-2901 page type-page status-publish hentry pmpro-has-access swiper-slide-visible swiper-slide-next" role="group" aria-label="2 / 5" style="width: 216px; margin-right: 15px;">
                                                                <div class="thim-ekit-team__thumbnail">
                                                                    <div class="thim-ekit-team__image">
                                                                        <img loading="lazy" decoding="async" width="200" height="200" src="../wp-content/uploads/sites/95/2015/11/team-5.jpg" class="attachment-medium size-medium wp-image-2921" alt="team 5" srcset="https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/11/team-5.jpg 200w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/11/team-5-150x150.jpg 150w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/11/team-5-100x100.jpg 100w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/11/team-5-60x60.jpg 60w" sizes="(max-width: 200px) 100vw, 200px">
                                                                    </div>
                                                                    <div class="thim-ekit-team__list-social">
                                                                        <div class="thim-ekit-team__social">
                                                                            <a href="#" target="_blank"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
                                                                        </div><div class="thim-ekit-team__social">
                                                                            <a href="#" target="_blank"><i class="tk-x-twitter" aria-hidden="true"></i></a>
                                                                        </div><div class="thim-ekit-team__social">
                                                                            <a href="#" target="_blank"><i class="fab fa-youtube" aria-hidden="true"></i></a>
                                                                        </div><div class="thim-ekit-team__social">
                                                                            <a href="#" target="_blank"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="thim-ekit-team__content">
                                                                    <div class="thim-ekit-team__member-name">Namrata Parmar</div>			<div class="thim-ekit-team__member-description">
                                                                        I came to Eduma ten years ago
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="thim-ekit-team__article swiper-slide post-2901 page type-page status-publish hentry pmpro-has-access swiper-slide-visible" role="group" aria-label="3 / 5" style="width: 216px; margin-right: 15px;">
                                                                <div class="thim-ekit-team__thumbnail">
                                                                    <div class="thim-ekit-team__image">
                                                                        <img loading="lazy" decoding="async" width="200" height="200" src="../wp-content/uploads/sites/95/2015/11/team-1.jpg" class="attachment-medium size-medium wp-image-2918" alt="team 1" srcset="https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/11/team-1.jpg 200w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/11/team-1-150x150.jpg 150w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/11/team-1-100x100.jpg 100w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/11/team-1-60x60.jpg 60w" sizes="(max-width: 200px) 100vw, 200px">
                                                                    </div>
                                                                    <div class="thim-ekit-team__list-social">
                                                                        <div class="thim-ekit-team__social">
                                                                            <a><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
                                                                        </div><div class="thim-ekit-team__social">
                                                                            <a><i class="tk-x-twitter" aria-hidden="true"></i></a>
                                                                        </div><div class="thim-ekit-team__social">
                                                                            <a><i class="fab fa-youtube" aria-hidden="true"></i></a>
                                                                        </div><div class="thim-ekit-team__social">
                                                                            <a><i class="fab fa-linkedin-in" aria-hidden="true"></i></a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="thim-ekit-team__content">
                                                                    <div class="thim-ekit-team__member-name">George Clinton</div>			<div class="thim-ekit-team__member-description">
                                                                        After working as a software developer and...
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="thim-ekit-team__article swiper-slide post-2901 page type-page status-publish hentry pmpro-has-access swiper-slide-visible" role="group" aria-label="4 / 5" style="width: 216px; margin-right: 15px;">
                                                                <div class="thim-ekit-team__thumbnail">
                                                                    <div class="thim-ekit-team__image">
                                                                        <img loading="lazy" decoding="async" width="200" height="200" src="../wp-content/uploads/sites/95/2015/11/team-8.jpg" class="attachment-medium size-medium wp-image-2917" alt="team 8" srcset="https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/11/team-8.jpg 200w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/11/team-8-150x150.jpg 150w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/11/team-8-100x100.jpg 100w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/11/team-8-60x60.jpg 60w" sizes="(max-width: 200px) 100vw, 200px">
                                                                    </div>
                                                                    <div class="thim-ekit-team__list-social">
                                                                        <div class="thim-ekit-team__social">
                                                                            <a><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
                                                                        </div><div class="thim-ekit-team__social">
                                                                            <a><i class="tk-x-twitter" aria-hidden="true"></i></a>
                                                                        </div><div class="thim-ekit-team__social">
                                                                            <a><i class="fab fa-youtube" aria-hidden="true"></i></a>
                                                                        </div><div class="thim-ekit-team__social">
                                                                            <a><i class="fab fa-linkedin-in" aria-hidden="true"></i></a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="thim-ekit-team__content">
                                                                    <div class="thim-ekit-team__member-name">George Richards</div>			<div class="thim-ekit-team__member-description">
                                                                        After working as a software developer and...
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="thim-ekit-team__article swiper-slide post-2901 page type-page status-publish hentry pmpro-has-access swiper-slide-visible" role="group" aria-label="5 / 5" style="width: 216px; margin-right: 15px;">
                                                                <div class="thim-ekit-team__thumbnail">
                                                                    <div class="thim-ekit-team__image">
                                                                        <img loading="lazy" decoding="async" width="200" height="200" src="../wp-content/uploads/sites/95/2015/11/team-3.jpg" class="attachment-medium size-medium wp-image-2922" alt="team 3" srcset="https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/11/team-3.jpg 200w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/11/team-3-150x150.jpg 150w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/11/team-3-100x100.jpg 100w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/11/team-3-60x60.jpg 60w" sizes="(max-width: 200px) 100vw, 200px">
                                                                    </div>
                                                                    <div class="thim-ekit-team__list-social">
                                                                        <div class="thim-ekit-team__social">
                                                                            <a><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
                                                                        </div><div class="thim-ekit-team__social">
                                                                            <a><i class="tk-x-twitter" aria-hidden="true"></i></a>
                                                                        </div><div class="thim-ekit-team__social">
                                                                            <a><i class="fab fa-youtube" aria-hidden="true"></i></a>
                                                                        </div><div class="thim-ekit-team__social">
                                                                            <a><i class="fab fa-linkedin-in" aria-hidden="true"></i></a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="thim-ekit-team__content">
                                                                    <div class="thim-ekit-team__member-name">Betty Milner</div>			<div class="thim-ekit-team__member-description">
                                                                        After working as a software developer and...
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="elementor-element elementor-element-8f4212d elementor-align-center elementor-widget elementor-widget-button" data-id="8f4212d" data-element_type="widget" data-widget_type="button.default">
                                                <div class="elementor-widget-container">
                                                    <div class="elementor-button-wrapper">
                                                        <a class="elementor-button elementor-button-link elementor-size-sm" href="#">
                                                            <span class="elementor-button-content-wrapper">
                                                                <span class="elementor-button-text">View our team</span>
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="elementor-section elementor-top-section elementor-element elementor-element-300ed2b elementor-section-full_width elementor-section-stretched elementor-section-height-default elementor-section-height-default" data-id="300ed2b" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}" style="width: 1897px; left: -378.5px;">
                                <div class="elementor-container elementor-column-gap-extended">
                                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-cf2445b" data-id="cf2445b" data-element_type="column">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-60b8a4b thim-ekits-heading-text-center elementor-widget thim-ekits-heading elementor-widget-thim-heading" data-id="60b8a4b" data-element_type="widget" data-widget_type="thim-heading.default">
                                                <div class="elementor-widget-container">
                                                    <div class="sc_heading text-center"><h2 class="title">A Great Place to Grow </h2></div>
                                                </div>
                                            </div>
                                            <div class="elementor-element elementor-element-284a83e elementor-widget thim-widget-gallery-images" data-id="284a83e" data-element_type="widget" data-widget_type="thim-gallery-images.default">
                                                <div class="elementor-widget-container">
                                                    <div class="thim-carousel-wrapper gallery-img owl-loaded owl-carousel owl-drag" data-visible="" data-autoplay="1000" data-navigation="0" data-pagination="1" data-loop="true"><div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-1110px, 0px, 0px); transition: 0.25s; width: 3885px;"><div class="owl-item cloned" style="width: 277.5px;"><div class="item"><img loading="lazy" decoding="async" width="970" height="560" src="../wp-content/uploads/sites/95/2015/06/courses-13.jpg" class="attachment-full size-full" alt="courses 13" srcset="https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/06/courses-13.jpg 970w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/06/courses-13-360x208.jpg 360w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/06/courses-13-768x443.jpg 768w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/06/courses-13-645x372.jpg 645w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/06/courses-13-300x173.jpg 300w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/06/courses-13-600x346.jpg 600w" sizes="(max-width: 970px) 100vw, 970px"></div></div><div class="owl-item cloned" style="width: 277.5px;"><div class="item"><img loading="lazy" decoding="async" width="970" height="560" src="../wp-content/uploads/sites/95/2015/06/courses-14.jpg" class="attachment-full size-full" alt="courses 14" srcset="https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/06/courses-14.jpg 970w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/06/courses-14-360x208.jpg 360w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/06/courses-14-768x443.jpg 768w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/06/courses-14-645x372.jpg 645w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/06/courses-14-300x173.jpg 300w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/06/courses-14-600x346.jpg 600w" sizes="(max-width: 970px) 100vw, 970px"></div></div><div class="owl-item cloned" style="width: 277.5px;"><div class="item"><img loading="lazy" decoding="async" width="970" height="560" src="../wp-content/uploads/sites/95/2015/06/courses-19.jpg" class="attachment-full size-full" alt="courses 19" srcset="https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/06/courses-19.jpg 970w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/06/courses-19-360x208.jpg 360w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/06/courses-19-768x443.jpg 768w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/06/courses-19-645x372.jpg 645w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/06/courses-19-300x173.jpg 300w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/06/courses-19-600x346.jpg 600w" sizes="(max-width: 970px) 100vw, 970px"></div></div><div class="owl-item cloned" style="width: 277.5px;"><div class="item"><img loading="lazy" decoding="async" width="970" height="560" src="../wp-content/uploads/sites/95/2015/12/courses-5.jpg" class="attachment-full size-full" alt="courses 5" srcset="https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/12/courses-5.jpg 970w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/12/courses-5-360x208.jpg 360w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/12/courses-5-768x443.jpg 768w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/12/courses-5-645x372.jpg 645w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/12/courses-5-300x173.jpg 300w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/12/courses-5-600x346.jpg 600w" sizes="(max-width: 970px) 100vw, 970px"></div></div><div class="owl-item active" style="width: 277.5px;"><div class="item"><img loading="lazy" decoding="async" width="970" height="560" src="../wp-content/uploads/sites/95/2015/12/courses-3.jpg" class="attachment-full size-full" alt="courses 3" srcset="https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/12/courses-3.jpg 970w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/12/courses-3-360x208.jpg 360w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/12/courses-3-768x443.jpg 768w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/12/courses-3-645x372.jpg 645w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/12/courses-3-300x173.jpg 300w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/12/courses-3-600x346.jpg 600w" sizes="(max-width: 970px) 100vw, 970px"></div></div><div class="owl-item active" style="width: 277.5px;"><div class="item"><img loading="lazy" decoding="async" width="970" height="560" src="../wp-content/uploads/sites/95/2015/03/blog-18.jpg" class="attachment-full size-full" alt="blog 18" srcset="https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/03/blog-18.jpg 970w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/03/blog-18-360x208.jpg 360w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/03/blog-18-768x443.jpg 768w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/03/blog-18-645x372.jpg 645w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/03/blog-18-300x173.jpg 300w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/03/blog-18-600x346.jpg 600w" sizes="(max-width: 970px) 100vw, 970px"></div></div><div class="owl-item active" style="width: 277.5px;"><div class="item"><img loading="lazy" decoding="async" width="970" height="560" src="../wp-content/uploads/sites/95/2015/06/courses-13.jpg" class="attachment-full size-full" alt="courses 13" srcset="https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/06/courses-13.jpg 970w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/06/courses-13-360x208.jpg 360w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/06/courses-13-768x443.jpg 768w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/06/courses-13-645x372.jpg 645w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/06/courses-13-300x173.jpg 300w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/06/courses-13-600x346.jpg 600w" sizes="(max-width: 970px) 100vw, 970px"></div></div><div class="owl-item active" style="width: 277.5px;"><div class="item"><img loading="lazy" decoding="async" width="970" height="560" src="../wp-content/uploads/sites/95/2015/06/courses-14.jpg" class="attachment-full size-full" alt="courses 14" srcset="https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/06/courses-14.jpg 970w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/06/courses-14-360x208.jpg 360w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/06/courses-14-768x443.jpg 768w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/06/courses-14-645x372.jpg 645w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/06/courses-14-300x173.jpg 300w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/06/courses-14-600x346.jpg 600w" sizes="(max-width: 970px) 100vw, 970px"></div></div><div class="owl-item" style="width: 277.5px;"><div class="item"><img loading="lazy" decoding="async" width="970" height="560" src="../wp-content/uploads/sites/95/2015/06/courses-19.jpg" class="attachment-full size-full" alt="courses 19" srcset="https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/06/courses-19.jpg 970w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/06/courses-19-360x208.jpg 360w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/06/courses-19-768x443.jpg 768w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/06/courses-19-645x372.jpg 645w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/06/courses-19-300x173.jpg 300w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/06/courses-19-600x346.jpg 600w" sizes="(max-width: 970px) 100vw, 970px"></div></div><div class="owl-item" style="width: 277.5px;"><div class="item"><img loading="lazy" decoding="async" width="970" height="560" src="../wp-content/uploads/sites/95/2015/12/courses-5.jpg" class="attachment-full size-full" alt="courses 5" srcset="https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/12/courses-5.jpg 970w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/12/courses-5-360x208.jpg 360w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/12/courses-5-768x443.jpg 768w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/12/courses-5-645x372.jpg 645w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/12/courses-5-300x173.jpg 300w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/12/courses-5-600x346.jpg 600w" sizes="(max-width: 970px) 100vw, 970px"></div></div><div class="owl-item cloned" style="width: 277.5px;"><div class="item"><img loading="lazy" decoding="async" width="970" height="560" src="../wp-content/uploads/sites/95/2015/12/courses-3.jpg" class="attachment-full size-full" alt="courses 3" srcset="https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/12/courses-3.jpg 970w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/12/courses-3-360x208.jpg 360w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/12/courses-3-768x443.jpg 768w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/12/courses-3-645x372.jpg 645w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/12/courses-3-300x173.jpg 300w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/12/courses-3-600x346.jpg 600w" sizes="(max-width: 970px) 100vw, 970px"></div></div><div class="owl-item cloned" style="width: 277.5px;"><div class="item"><img loading="lazy" decoding="async" width="970" height="560" src="../wp-content/uploads/sites/95/2015/03/blog-18.jpg" class="attachment-full size-full" alt="blog 18" srcset="https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/03/blog-18.jpg 970w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/03/blog-18-360x208.jpg 360w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/03/blog-18-768x443.jpg 768w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/03/blog-18-645x372.jpg 645w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/03/blog-18-300x173.jpg 300w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/03/blog-18-600x346.jpg 600w" sizes="(max-width: 970px) 100vw, 970px"></div></div><div class="owl-item cloned" style="width: 277.5px;"><div class="item"><img loading="lazy" decoding="async" width="970" height="560" src="../wp-content/uploads/sites/95/2015/06/courses-13.jpg" class="attachment-full size-full" alt="courses 13" srcset="https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/06/courses-13.jpg 970w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/06/courses-13-360x208.jpg 360w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/06/courses-13-768x443.jpg 768w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/06/courses-13-645x372.jpg 645w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/06/courses-13-300x173.jpg 300w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/06/courses-13-600x346.jpg 600w" sizes="(max-width: 970px) 100vw, 970px"></div></div><div class="owl-item cloned" style="width: 277.5px;"><div class="item"><img loading="lazy" decoding="async" width="970" height="560" src="../wp-content/uploads/sites/95/2015/06/courses-14.jpg" class="attachment-full size-full" alt="courses 14" srcset="https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/06/courses-14.jpg 970w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/06/courses-14-360x208.jpg 360w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/06/courses-14-768x443.jpg 768w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/06/courses-14-645x372.jpg 645w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/06/courses-14-300x173.jpg 300w, https://eduma.thimpress.com/demo-main/wp-content/uploads/sites/95/2015/06/courses-14-600x346.jpg 600w" sizes="(max-width: 970px) 100vw, 970px"></div></div></div></div><div class="owl-controls"><div class="owl-nav owl-buttons disabled"><button type="button" role="presentation" class="owl-prev"><i class="edu-chevron-left "></i></button><button type="button" role="presentation" class="owl-next"><i class="edu-chevron-right "></i></button></div><div class="owl-dots owl-pagination"><button role="button" class="owl-page active"><span></span></button><button role="button" class="owl-page"><span></span></button></div></div></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="elementor-section elementor-top-section elementor-element elementor-element-f5be42d have_border_top none_line elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="f5be42d" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}" style="width: 1897px; left: -378.5px;">
                                <div class="elementor-container elementor-column-gap-extended">
                                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-f330b27" data-id="f330b27" data-element_type="column">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-5e08beb elementor-widget thim-widget-gallery-images" data-id="5e08beb" data-element_type="widget" data-widget_type="thim-gallery-images.default">
                                                <div class="elementor-widget-container">
                                                    <div class="thim-carousel-wrapper gallery-img not_have_color owl-loaded owl-carousel owl-drag" data-visible="5" data-itemtablet="3" data-autoplay="5000" data-navigation="1" data-pagination="0" data-loop="true"><div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-2442px, 0px, 0px); transition: 0.25s; width: 3996px;"><div class="owl-item cloned" style="width: 222px;"><div class="item"><a target="_self" href="#"><img loading="lazy" decoding="async" width="145" height="45" src="../wp-content/uploads/sites/95/2022/04/banner4.png" class="attachment-full size-full" alt="banner4"></a></div></div><div class="owl-item cloned" style="width: 222px;"><div class="item"><a target="_self" href="#"><img loading="lazy" decoding="async" width="145" height="45" src="../wp-content/uploads/sites/95/2022/04/banner5.png" class="attachment-full size-full" alt="banner5"></a></div></div><div class="owl-item cloned" style="width: 222px;"><div class="item"><a target="_self" href="#"><img loading="lazy" decoding="async" width="145" height="45" src="../wp-content/uploads/sites/95/2022/04/banner6.png" class="attachment-full size-full" alt="banner6"></a></div></div><div class="owl-item cloned" style="width: 222px;"><div class="item"><a target="_self" href="#"><img loading="lazy" decoding="async" width="145" height="45" src="../wp-content/uploads/sites/95/2022/04/banner7.png" class="attachment-full size-full" alt="banner7"></a></div></div><div class="owl-item cloned" style="width: 222px;"><div class="item"><a target="_self" href="#"><img loading="lazy" decoding="async" width="145" height="45" src="../wp-content/uploads/sites/95/2022/04/banner8.png" class="attachment-full size-full" alt="banner8"></a></div></div><div class="owl-item" style="width: 222px;"><div class="item"><a target="_self" href="#"><img loading="lazy" decoding="async" width="145" height="45" src="../wp-content/uploads/sites/95/2022/04/banner1.png" class="attachment-full size-full" alt="banner1"></a></div></div><div class="owl-item" style="width: 222px;"><div class="item"><a target="_self" href="#"><img loading="lazy" decoding="async" width="145" height="45" src="../wp-content/uploads/sites/95/2022/04/banner2.png" class="attachment-full size-full" alt="banner2"></a></div></div><div class="owl-item" style="width: 222px;"><div class="item"><a target="_self" href="#"><img loading="lazy" decoding="async" width="145" height="45" src="../wp-content/uploads/sites/95/2022/04/banner3.png" class="attachment-full size-full" alt="banner3"></a></div></div><div class="owl-item" style="width: 222px;"><div class="item"><a target="_self" href="#"><img loading="lazy" decoding="async" width="145" height="45" src="../wp-content/uploads/sites/95/2022/04/banner4.png" class="attachment-full size-full" alt="banner4"></a></div></div><div class="owl-item" style="width: 222px;"><div class="item"><a target="_self" href="#"><img loading="lazy" decoding="async" width="145" height="45" src="../wp-content/uploads/sites/95/2022/04/banner5.png" class="attachment-full size-full" alt="banner5"></a></div></div><div class="owl-item" style="width: 222px;"><div class="item"><a target="_self" href="#"><img loading="lazy" decoding="async" width="145" height="45" src="../wp-content/uploads/sites/95/2022/04/banner6.png" class="attachment-full size-full" alt="banner6"></a></div></div><div class="owl-item active" style="width: 222px;"><div class="item"><a target="_self" href="#"><img loading="lazy" decoding="async" width="145" height="45" src="../wp-content/uploads/sites/95/2022/04/banner7.png" class="attachment-full size-full" alt="banner7"></a></div></div><div class="owl-item active" style="width: 222px;"><div class="item"><a target="_self" href="#"><img loading="lazy" decoding="async" width="145" height="45" src="../wp-content/uploads/sites/95/2022/04/banner8.png" class="attachment-full size-full" alt="banner8"></a></div></div><div class="owl-item cloned active" style="width: 222px;"><div class="item"><a target="_self" href="#"><img loading="lazy" decoding="async" width="145" height="45" src="../wp-content/uploads/sites/95/2022/04/banner1.png" class="attachment-full size-full" alt="banner1"></a></div></div><div class="owl-item cloned active" style="width: 222px;"><div class="item"><a target="_self" href="#"><img loading="lazy" decoding="async" width="145" height="45" src="../wp-content/uploads/sites/95/2022/04/banner2.png" class="attachment-full size-full" alt="banner2"></a></div></div><div class="owl-item cloned active" style="width: 222px;"><div class="item"><a target="_self" href="#"><img loading="lazy" decoding="async" width="145" height="45" src="../wp-content/uploads/sites/95/2022/04/banner3.png" class="attachment-full size-full" alt="banner3"></a></div></div><div class="owl-item cloned" style="width: 222px;"><div class="item"><a target="_self" href="#"><img loading="lazy" decoding="async" width="145" height="45" src="../wp-content/uploads/sites/95/2022/04/banner4.png" class="attachment-full size-full" alt="banner4"></a></div></div><div class="owl-item cloned" style="width: 222px;"><div class="item"><a target="_self" href="#"><img loading="lazy" decoding="async" width="145" height="45" src="../wp-content/uploads/sites/95/2022/04/banner5.png" class="attachment-full size-full" alt="banner5"></a></div></div></div></div><div class="owl-controls"><div class="owl-nav owl-buttons"><button type="button" role="presentation" class="owl-prev"><i class="edu-chevron-left "></i></button><button type="button" role="presentation" class="owl-next"><i class="edu-chevron-right "></i></button></div><div class="owl-dots owl-pagination disabled"></div></div></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div><!-- .entry-content -->

                </article><!-- #post-## -->



            </main>
        </div>
    </div>
</section>




