@page "{id:int?}"
@model StairwayDesigns.Pages.Gallery_Model
@{ ViewData["Title"] = "Gallery"; }

@section Styles {
    <link href="~/css/gallery-page.css" rel="stylesheet" asp-append-version="true" />
}

<h1>Gallary</h1>