<footer id="colophon" class=" site-footer1 has-footer-bottom1">
    <div class="footer">
        <div class="container">
            <div class="row">
                <style id="elementor-post-8920">
                    .elementor-8920 .elementor-element.elementor-element-3683d89 .elementor-column-gap-custom .elementor-column > .elementor-element-populated {
                        padding: 15px;
                    }

                    .elementor-8920 .elementor-element.elementor-element-3683d89 {
                        transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
                        padding: 0px 0px 50px 0px;
                    }

                        .elementor-8920 .elementor-element.elementor-element-3683d89 > .elementor-background-overlay {
                            transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
                        }

                    .elementor-8920 .elementor-element.elementor-element-b0d2307 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
                        margin-bottom: 0px;
                    }

                    .elementor-widget-image .widget-image-caption {
                        font-family: var( --e-global-typography-text-font-family ), Sans-serif;
                        font-weight: var( --e-global-typography-text-font-weight );
                    }

                    .elementor-8920 .elementor-element.elementor-element-18fb26a {
                        width: auto;
                        max-width: auto;
                        text-align: left;
                    }

                        .elementor-8920 .elementor-element.elementor-element-18fb26a > .elementor-widget-container {
                            margin: 0px 0px 30px 0px;
                        }

                    .elementor-8920 .elementor-element.elementor-element-1f9106d .thim-header-info {
                        margin: 0;
                    }

                        .elementor-8920 .elementor-element.elementor-element-1f9106d .thim-header-info > li {
                            display: block;
                        }

                    .elementor-8920 .elementor-element.elementor-element-1f9106d .thim-header-info {
                        text-align: left;
                    }

                        .elementor-8920 .elementor-element.elementor-element-1f9106d .thim-header-info > li {
                            margin: 0px 0px 0px 0px;
                            padding: 5px 0px 5px 0px;
                        }

                            .elementor-8920 .elementor-element.elementor-element-1f9106d .thim-header-info > li i {
                                color: var( --e-global-color-primary );
                                font-size: 16px;
                            }

                            .elementor-8920 .elementor-element.elementor-element-1f9106d .thim-header-info > li svg path {
                                stroke: var( --e-global-color-primary );
                                fill: var( --e-global-color-primary );
                            }

                            .elementor-8920 .elementor-element.elementor-element-1f9106d .thim-header-info > li svg {
                                max-width: 16px;
                                height: auto;
                            }

                    body:not(.rtl) .elementor-8920 .elementor-element.elementor-element-1f9106d .thim-header-info > li i, body:not(.rtl) .elementor-8920 .elementor-element.elementor-element-1f9106d .thim-header-info > li svg {
                        margin-right: 6px;
                    }

                    body.rtl .elementor-8920 .elementor-element.elementor-element-1f9106d .thim-header-info > li i, body.rtl .elementor-8920 .elementor-element.elementor-element-1f9106d .thim-header-info > li svg {
                        margin-left: 6px;
                    }

                    .elementor-8920 .elementor-element.elementor-element-7a9fb44 .elementor-repeater-item-0e0a632 > a {
                        color: #222222;
                    }

                        .elementor-8920 .elementor-element.elementor-element-7a9fb44 .elementor-repeater-item-0e0a632 > a svg path {
                            stroke: #222222;
                            fill: #222222;
                        }

                        .elementor-8920 .elementor-element.elementor-element-7a9fb44 .elementor-repeater-item-0e0a632 > a:hover {
                            color: #3b5998;
                        }

                            .elementor-8920 .elementor-element.elementor-element-7a9fb44 .elementor-repeater-item-0e0a632 > a:hover svg path {
                                stroke: #3b5998;
                                fill: #3b5998;
                            }

                    .elementor-8920 .elementor-element.elementor-element-7a9fb44 .elementor-repeater-item-afcd99b > a {
                        color: #222222;
                    }

                        .elementor-8920 .elementor-element.elementor-element-7a9fb44 .elementor-repeater-item-afcd99b > a svg path {
                            stroke: #222222;
                            fill: #222222;
                        }

                        .elementor-8920 .elementor-element.elementor-element-7a9fb44 .elementor-repeater-item-afcd99b > a:hover {
                            color: #1da1f2;
                        }

                            .elementor-8920 .elementor-element.elementor-element-7a9fb44 .elementor-repeater-item-afcd99b > a:hover svg path {
                                stroke: #1da1f2;
                                fill: #1da1f2;
                            }

                    .elementor-8920 .elementor-element.elementor-element-7a9fb44 .elementor-repeater-item-f326c6a > a {
                        color: #222222;
                    }

                        .elementor-8920 .elementor-element.elementor-element-7a9fb44 .elementor-repeater-item-f326c6a > a svg path {
                            stroke: #222222;
                            fill: #222222;
                        }

                        .elementor-8920 .elementor-element.elementor-element-7a9fb44 .elementor-repeater-item-f326c6a > a:hover {
                            color: #0077b5;
                        }

                            .elementor-8920 .elementor-element.elementor-element-7a9fb44 .elementor-repeater-item-f326c6a > a:hover svg path {
                                stroke: #0077b5;
                                fill: #0077b5;
                            }

                    .elementor-8920 .elementor-element.elementor-element-7a9fb44 .elementor-repeater-item-ea8c676 > a {
                        color: #222222;
                    }

                        .elementor-8920 .elementor-element.elementor-element-7a9fb44 .elementor-repeater-item-ea8c676 > a svg path {
                            stroke: #222222;
                            fill: #222222;
                        }

                        .elementor-8920 .elementor-element.elementor-element-7a9fb44 .elementor-repeater-item-ea8c676 > a:hover {
                            color: #0077b5;
                        }

                            .elementor-8920 .elementor-element.elementor-element-7a9fb44 .elementor-repeater-item-ea8c676 > a:hover svg path {
                                stroke: #0077b5;
                                fill: #0077b5;
                            }

                    .elementor-8920 .elementor-element.elementor-element-7a9fb44 .thim-social-media {
                        text-align: left;
                    }

                        .elementor-8920 .elementor-element.elementor-element-7a9fb44 .thim-social-media > li {
                            display: inline-block;
                            margin: 10px 15px 0px 0px;
                        }

                            .elementor-8920 .elementor-element.elementor-element-7a9fb44 .thim-social-media > li a {
                                display: inline-block;
                                text-align: center;
                            }

                            .elementor-8920 .elementor-element.elementor-element-7a9fb44 .thim-social-media > li > a i {
                                font-size: 21px;
                            }

                            .elementor-8920 .elementor-element.elementor-element-7a9fb44 .thim-social-media > li > a svg {
                                max-width: 21px;
                            }

                    .elementor-8920 .elementor-element.elementor-element-ed9e25f > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
                        margin-bottom: 0px;
                    }

                    .elementor-8920 .elementor-element.elementor-element-ceb6744 > .elementor-widget-container {
                        margin: 0px 0px 40px 0px;
                    }

                    .elementor-8920 .elementor-element.elementor-element-ceb6744 .sc_heading .title, .elementor-8920 .elementor-element.elementor-element-ceb6744 .sc_heading .clone {
                        color: #FFFFFF;
                    }

                    .elementor-8920 .elementor-element.elementor-element-ff87c16 .thim-header-info {
                        margin: 0;
                    }

                        .elementor-8920 .elementor-element.elementor-element-ff87c16 .thim-header-info > li {
                            display: block;
                        }

                    .elementor-8920 .elementor-element.elementor-element-ff87c16 .thim-header-info {
                        text-align: left;
                    }

                        .elementor-8920 .elementor-element.elementor-element-ff87c16 .thim-header-info > li {
                            padding: 0px 0px 5px 0px;
                        }

                    body:not(.rtl) .elementor-8920 .elementor-element.elementor-element-ff87c16 .thim-header-info > li i, body:not(.rtl) .elementor-8920 .elementor-element.elementor-element-ff87c16 .thim-header-info > li svg {
                        margin-right: 10px;
                    }

                    body.rtl .elementor-8920 .elementor-element.elementor-element-ff87c16 .thim-header-info > li i, body.rtl .elementor-8920 .elementor-element.elementor-element-ff87c16 .thim-header-info > li svg {
                        margin-left: 10px;
                    }

                    .elementor-8920 .elementor-element.elementor-element-9fe5798 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
                        margin-bottom: 0px;
                    }

                    .elementor-8920 .elementor-element.elementor-element-2388626 > .elementor-widget-container {
                        margin: 0px 0px 40px 0px;
                    }

                    .elementor-8920 .elementor-element.elementor-element-2388626 .sc_heading .title, .elementor-8920 .elementor-element.elementor-element-2388626 .sc_heading .clone {
                        color: #FFFFFF;
                    }

                    .elementor-8920 .elementor-element.elementor-element-ad93be3 .thim-header-info {
                        margin: 0;
                    }

                        .elementor-8920 .elementor-element.elementor-element-ad93be3 .thim-header-info > li {
                            display: block;
                        }

                    .elementor-8920 .elementor-element.elementor-element-ad93be3 .thim-header-info {
                        text-align: left;
                    }

                        .elementor-8920 .elementor-element.elementor-element-ad93be3 .thim-header-info > li {
                            padding: 0px 0px 5px 0px;
                        }

                    body:not(.rtl) .elementor-8920 .elementor-element.elementor-element-ad93be3 .thim-header-info > li i, body:not(.rtl) .elementor-8920 .elementor-element.elementor-element-ad93be3 .thim-header-info > li svg {
                        margin-right: 10px;
                    }

                    body.rtl .elementor-8920 .elementor-element.elementor-element-ad93be3 .thim-header-info > li i, body.rtl .elementor-8920 .elementor-element.elementor-element-ad93be3 .thim-header-info > li svg {
                        margin-left: 10px;
                    }

                    .elementor-8920 .elementor-element.elementor-element-f095090 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
                        margin-bottom: 0px;
                    }

                    .elementor-8920 .elementor-element.elementor-element-0e3565b > .elementor-widget-container {
                        margin: 0px 0px 40px 0px;
                    }

                    .elementor-8920 .elementor-element.elementor-element-0e3565b .sc_heading .title, .elementor-8920 .elementor-element.elementor-element-0e3565b .sc_heading .clone {
                        color: #FFFFFF;
                    }

                    .elementor-8920 .elementor-element.elementor-element-c27122d .thim-header-info {
                        margin: 0;
                    }

                        .elementor-8920 .elementor-element.elementor-element-c27122d .thim-header-info > li {
                            display: block;
                        }

                    .elementor-8920 .elementor-element.elementor-element-c27122d .thim-header-info {
                        text-align: left;
                    }

                        .elementor-8920 .elementor-element.elementor-element-c27122d .thim-header-info > li {
                            padding: 0px 0px 5px 0px;
                        }

                    body:not(.rtl) .elementor-8920 .elementor-element.elementor-element-c27122d .thim-header-info > li i, body:not(.rtl) .elementor-8920 .elementor-element.elementor-element-c27122d .thim-header-info > li svg {
                        margin-right: 10px;
                    }

                    body.rtl .elementor-8920 .elementor-element.elementor-element-c27122d .thim-header-info > li i, body.rtl .elementor-8920 .elementor-element.elementor-element-c27122d .thim-header-info > li svg {
                        margin-left: 10px;
                    }

                    .elementor-8920 .elementor-element.elementor-element-8a0577c > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
                        margin-bottom: 0px;
                    }

                    .elementor-8920 .elementor-element.elementor-element-dee4d2d > .elementor-widget-container {
                        margin: 0px 0px 40px 0px;
                    }

                    .elementor-8920 .elementor-element.elementor-element-dee4d2d .sc_heading .title, .elementor-8920 .elementor-element.elementor-element-dee4d2d .sc_heading .clone {
                        color: #FFFFFF;
                    }

                    .elementor-8920 .elementor-element.elementor-element-6b97cfe .thim-header-info {
                        margin: 0;
                    }

                        .elementor-8920 .elementor-element.elementor-element-6b97cfe .thim-header-info > li {
                            display: block;
                        }

                    .elementor-8920 .elementor-element.elementor-element-6b97cfe .thim-header-info {
                        text-align: left;
                    }

                        .elementor-8920 .elementor-element.elementor-element-6b97cfe .thim-header-info > li {
                            padding: 0px 0px 5px 0px;
                        }

                    body:not(.rtl) .elementor-8920 .elementor-element.elementor-element-6b97cfe .thim-header-info > li i, body:not(.rtl) .elementor-8920 .elementor-element.elementor-element-6b97cfe .thim-header-info > li svg {
                        margin-right: 10px;
                    }

                    body.rtl .elementor-8920 .elementor-element.elementor-element-6b97cfe .thim-header-info > li i, body.rtl .elementor-8920 .elementor-element.elementor-element-6b97cfe .thim-header-info > li svg {
                        margin-left: 10px;
                    }

                    .elementor-8920 .elementor-element.elementor-element-8ffc780 > .elementor-container > .elementor-column > .elementor-widget-wrap {
                        align-content: center;
                        align-items: center;
                    }

                    .elementor-8920 .elementor-element.elementor-element-8ffc780 {
                        border-style: solid;
                        border-width: 1px 0px 0px 0px;
                        border-color: #FFFFFF24;
                        padding: 35px 0px 15px 0px;
                    }

                    .elementor-8920 .elementor-element.elementor-element-7964784 > .elementor-element-populated {
                        padding: 0px 15px 0px 15px;
                    }

                    .elementor-widget-text-editor {
                        font-family: var( --e-global-typography-text-font-family ), Sans-serif;
                        font-weight: var( --e-global-typography-text-font-weight );
                    }

                    .elementor-8920 .elementor-element.elementor-element-efab023 {
                        color: #878787;
                    }

                    .elementor-8920 .elementor-element.elementor-element-947903a > .elementor-element-populated {
                        padding: 0px 15px 0px 15px;
                    }

                    .elementor-8920 .elementor-element.elementor-element-de7585c .thim-header-info {
                        margin: 0;
                    }

                        .elementor-8920 .elementor-element.elementor-element-de7585c .thim-header-info > li {
                            display: inline-block;
                        }

                    .elementor-8920 .elementor-element.elementor-element-de7585c .thim-header-info {
                        text-align: right;
                    }

                        .elementor-8920 .elementor-element.elementor-element-de7585c .thim-header-info > li {
                            margin: 0px 0px 0px 0px;
                            padding: 0px 0px 0px 30px;
                        }

                            .elementor-8920 .elementor-element.elementor-element-de7585c .thim-header-info > li > a, .elementor-8920 .elementor-element.elementor-element-de7585c .thim-header-info > li {
                                color: #878787;
                            }

                                .elementor-8920 .elementor-element.elementor-element-de7585c .thim-header-info > li > a, .elementor-8920 .elementor-element.elementor-element-de7585c .thim-header-info > li {
                                    font-size: 16px;
                                }

                                    .elementor-8920 .elementor-element.elementor-element-de7585c .thim-header-info > li:hover > a {
                                        color: #6868F1;
                                    }

                    body:not(.rtl) .elementor-8920 .elementor-element.elementor-element-de7585c .thim-header-info > li i, body:not(.rtl) .elementor-8920 .elementor-element.elementor-element-de7585c .thim-header-info > li svg {
                        margin-right: 10px;
                    }

                    body.rtl .elementor-8920 .elementor-element.elementor-element-de7585c .thim-header-info > li i, body.rtl .elementor-8920 .elementor-element.elementor-element-de7585c .thim-header-info > li svg {
                        margin-left: 10px;
                    }

                    body.elementor-page-8920:not(.elementor-motion-effects-element-type-background), body.elementor-page-8920 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
                        background-color: #000000;
                    }

                    @@media(max-width:1024px) {
                        .elementor-8920 .elementor-element.elementor-element-3683d89 .elementor-column-gap-custom .elementor-column > .elementor-element-populated {
                            padding: 10px;
                        }

                        .elementor-8920 .elementor-element.elementor-element-3683d89 {
                            padding: 30px 0px 50px 0px;
                        }

                        .elementor-8920 .elementor-element.elementor-element-b0d2307 > .elementor-element-populated {
                            margin: 0px 0px 40px 0px;
                            --e-column-margin-right: 0px;
                            --e-column-margin-left: 0px;
                        }

                        .elementor-8920 .elementor-element.elementor-element-1f9106d .thim-header-info > li {
                            margin: 0px 0px 0px 0px;
                        }

                        body:not(.rtl) .elementor-8920 .elementor-element.elementor-element-1f9106d .thim-header-info > li i, body:not(.rtl) .elementor-8920 .elementor-element.elementor-element-1f9106d .thim-header-info > li svg {
                            margin-right: 3px;
                        }

                        body.rtl .elementor-8920 .elementor-element.elementor-element-1f9106d .thim-header-info > li i, body.rtl .elementor-8920 .elementor-element.elementor-element-1f9106d .thim-header-info > li svg {
                            margin-left: 3px;
                        }

                        .elementor-8920 .elementor-element.elementor-element-8ffc780 {
                            padding: 30px 0px 0px 0px;
                        }

                        .elementor-8920 .elementor-element.elementor-element-de7585c .thim-header-info > li {
                            padding: 0px 0px 0px 15px;
                        }
                    }

                    @@media(max-width:767px) {
                        .elementor-8920 .elementor-element.elementor-element-3683d89 {
                            padding: 0px 5px 20px 5px;
                        }

                        .elementor-8920 .elementor-element.elementor-element-b0d2307 > .elementor-element-populated {
                            margin: 0px 0px 20px 0px;
                            --e-column-margin-right: 0px;
                            --e-column-margin-left: 0px;
                        }

                        .elementor-8920 .elementor-element.elementor-element-1f9106d .thim-header-info > li {
                            margin: 0px 10px 5px 0px;
                        }

                        .elementor-8920 .elementor-element.elementor-element-ed9e25f {
                            width: 50%;
                        }

                        .elementor-8920 .elementor-element.elementor-element-ceb6744 > .elementor-widget-container {
                            margin: 0px 0px 10px 0px;
                        }

                        .elementor-8920 .elementor-element.elementor-element-9fe5798 {
                            width: 50%;
                        }

                        .elementor-8920 .elementor-element.elementor-element-2388626 > .elementor-widget-container {
                            margin: 0px 0px 10px 0px;
                        }

                        .elementor-8920 .elementor-element.elementor-element-f095090 {
                            width: 50%;
                        }

                        .elementor-8920 .elementor-element.elementor-element-0e3565b > .elementor-widget-container {
                            margin: 0px 0px 10px 0px;
                        }

                        .elementor-8920 .elementor-element.elementor-element-8a0577c {
                            width: 50%;
                        }

                        .elementor-8920 .elementor-element.elementor-element-dee4d2d > .elementor-widget-container {
                            margin: 0px 0px 10px 0px;
                        }

                        .elementor-8920 .elementor-element.elementor-element-8ffc780 {
                            padding: 20px 5px 0px 5px;
                        }

                        .elementor-8920 .elementor-element.elementor-element-7964784 > .elementor-element-populated {
                            padding: 10px 10px 0px 10px;
                        }

                        .elementor-8920 .elementor-element.elementor-element-efab023 {
                            text-align: center;
                        }

                        .elementor-8920 .elementor-element.elementor-element-947903a > .elementor-element-populated {
                            padding: 0px 10px 0px 10px;
                        }

                        .elementor-8920 .elementor-element.elementor-element-de7585c .thim-header-info {
                            text-align: center;
                        }

                            .elementor-8920 .elementor-element.elementor-element-de7585c .thim-header-info > li {
                                padding: 10px 5px 0px 5px;
                            }
                    }

                    @@media(min-width:768px) {
                        .elementor-8920 .elementor-element.elementor-element-b0d2307 {
                            width: 33.333%;
                        }

                        .elementor-8920 .elementor-element.elementor-element-ed9e25f {
                            width: 16.908%;
                        }

                        .elementor-8920 .elementor-element.elementor-element-9fe5798 {
                            width: 15.164%;
                        }

                        .elementor-8920 .elementor-element.elementor-element-f095090 {
                            width: 17.358%;
                        }

                        .elementor-8920 .elementor-element.elementor-element-8a0577c {
                            width: 17.15%;
                        }
                    }

                    @@media(max-width:1024px) and (min-width:768px) {
                        .elementor-8920 .elementor-element.elementor-element-b0d2307 {
                            width: 66.66666%;
                        }

                        .elementor-8920 .elementor-element.elementor-element-ed9e25f {
                            width: 33.33%;
                        }

                        .elementor-8920 .elementor-element.elementor-element-9fe5798 {
                            width: 33.333%;
                        }

                        .elementor-8920 .elementor-element.elementor-element-f095090 {
                            width: 33.33%;
                        }

                        .elementor-8920 .elementor-element.elementor-element-8a0577c {
                            width: 33.33%;
                        }
                    }
                </style><aside id="text-1210019" class="widget widget_text footer_widget">
                    <div class="textwidget">
                        <div data-elementor-type="wp-post" data-elementor-id="8920" class="elementor elementor-8920">
                            <section class="elementor-section elementor-top-section elementor-element elementor-element-3683d89 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="3683d89" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
                                <div class="elementor-container elementor-column-gap-custom">
                                    <div class="elementor-column elementor-col-20 elementor-top-column elementor-element elementor-element-b0d2307" data-id="b0d2307" data-element_type="column">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-18fb26a elementor-widget__width-auto elementor-widget elementor-widget-image" data-id="18fb26a" data-element_type="widget" data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img loading="lazy" decoding="async" width="177" height="41" src="wp-content/uploads/sites/95/2022/12/logo-edu-white.png" class="attachment-full size-full wp-image-13657" alt="logo edu white" />
                                                </div>
                                            </div>
                                            <div class="elementor-element elementor-element-1f9106d elementor-widget elementor-widget-thim-ekits-header-info" data-id="1f9106d" data-element_type="widget" data-widget_type="thim-ekits-header-info.default">
                                                <div class="elementor-widget-container">
                                                    <div class="header-info-swapper">
                                                        <ul class="thim-header-info">
                                                            <li>
                                                                <span>
                                                                    <i aria-hidden="true" class="tk tk-phone"></i>
                                                                </span>

                                                                800 388 80 90
                                                            </li>
                                                            <li>
                                                                <span>
                                                                    <i aria-hidden="true" class="tk tk-map-marker"></i>
                                                                </span>

                                                                58 Howard Street #2 San Francisco
                                                            </li>
                                                            <li>
                                                                <span>
                                                                    <i aria-hidden="true" class="tk tk-envelope"></i>
                                                                </span>

                                                                <a href="https://eduma.thimpress.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="30535f5e44515344705554455d511e535f5d">[email&#160;protected]</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="elementor-element elementor-element-7a9fb44 elementor-widget elementor-widget-thim-ekits-social" data-id="7a9fb44" data-element_type="widget" data-widget_type="thim-ekits-social.default">
                                                <div class="elementor-widget-container">
                                                    <div class="social-swapper">

                                                        <ul class="thim-social-media">
                                                            <li class="elementor-repeater-item-0e0a632">
                                                                <a href="https://www.facebook.com/" aria-label="Facebook">
                                                                    <i aria-hidden="true" class="tk tk-face"></i>

                                                                </a>
                                                            </li>
                                                            <li class="elementor-repeater-item-afcd99b">
                                                                <a href="https://twitter.com/" aria-label="Twitter">
                                                                    <i aria-hidden="true" class="tk tk-x-twitter"></i>

                                                                </a>
                                                            </li>
                                                            <li class="elementor-repeater-item-f326c6a">
                                                                <a href="https://www.pinterest.com/" aria-label="Pinteret">
                                                                    <i aria-hidden="true" class="tk tk-pinterest-p"></i>

                                                                </a>
                                                            </li>
                                                            <li class="elementor-repeater-item-ea8c676">
                                                                <a href="https://www.instagram.com/" aria-label="intagram">
                                                                    <i aria-hidden="true" class="tk tk-instagram"></i>

                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-column elementor-col-20 elementor-top-column elementor-element elementor-element-ed9e25f" data-id="ed9e25f" data-element_type="column">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-ceb6744 elementor-widget thim-ekits-heading elementor-widget-thim-heading" data-id="ceb6744" data-element_type="widget" data-widget_type="thim-heading.default">
                                                <div class="elementor-widget-container">
                                                    <div class="sc_heading"><h4 class="title">Company </h4></div>
                                                </div>
                                            </div>
                                            <div class="elementor-element elementor-element-ff87c16 elementor-widget elementor-widget-thim-ekits-header-info" data-id="ff87c16" data-element_type="widget" data-widget_type="thim-ekits-header-info.default">
                                                <div class="elementor-widget-container">
                                                    <div class="header-info-swapper">
                                                        <ul class="thim-header-info">
                                                            <li>
                                                                <a href="https://eduma.thimpress.com/about-us/" target="_blank">

                                                                    About
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="https://eduma.thimpress.com/blog/" target="_blank">

                                                                    Blog
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="https://eduma.thimpress.com/contact-us/" target="_blank">

                                                                    Contact
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="https://eduma.thimpress.com/become-a-teacher/" target="_blank">

                                                                    Become a Teacher
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-column elementor-col-20 elementor-top-column elementor-element elementor-element-9fe5798" data-id="9fe5798" data-element_type="column">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-2388626 elementor-widget thim-ekits-heading elementor-widget-thim-heading" data-id="2388626" data-element_type="widget" data-widget_type="thim-heading.default">
                                                <div class="elementor-widget-container">
                                                    <div class="sc_heading"><h4 class="title">Links </h4></div>
                                                </div>
                                            </div>
                                            <div class="elementor-element elementor-element-ad93be3 elementor-widget elementor-widget-thim-ekits-header-info" data-id="ad93be3" data-element_type="widget" data-widget_type="thim-ekits-header-info.default">
                                                <div class="elementor-widget-container">
                                                    <div class="header-info-swapper">
                                                        <ul class="thim-header-info">
                                                            <li>
                                                                <a href="https://eduma.thimpress.com/courses/" target="_blank">

                                                                    Courses
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="https://eduma.thimpress.com/events/" target="_blank">

                                                                    Events
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="https://eduma.thimpress.com/gallery/" target="_blank">

                                                                    Gallery
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="https://eduma.thimpress.com/faqs/" target="_blank">

                                                                    FAQs
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-column elementor-col-20 elementor-top-column elementor-element elementor-element-f095090" data-id="f095090" data-element_type="column">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-0e3565b elementor-widget thim-ekits-heading elementor-widget-thim-heading" data-id="0e3565b" data-element_type="widget" data-widget_type="thim-heading.default">
                                                <div class="elementor-widget-container">
                                                    <div class="sc_heading"><h4 class="title">Support </h4></div>
                                                </div>
                                            </div>
                                            <div class="elementor-element elementor-element-c27122d elementor-widget elementor-widget-thim-ekits-header-info" data-id="c27122d" data-element_type="widget" data-widget_type="thim-ekits-header-info.default">
                                                <div class="elementor-widget-container">
                                                    <div class="header-info-swapper">
                                                        <ul class="thim-header-info">
                                                            <li>
                                                                <a href="https://docs.thimpress.com/eduma/" target="_blank">

                                                                    Documentation
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="https://thimpress.com/forums/" target="_blank">

                                                                    Forums
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#" target="_blank">

                                                                    Language Packs
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#" target="_blank">

                                                                    Release Status
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-column elementor-col-20 elementor-top-column elementor-element elementor-element-8a0577c" data-id="8a0577c" data-element_type="column">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-dee4d2d elementor-widget thim-ekits-heading elementor-widget-thim-heading" data-id="dee4d2d" data-element_type="widget" data-widget_type="thim-heading.default">
                                                <div class="elementor-widget-container">
                                                    <div class="sc_heading"><h4 class="title">Recommend </h4></div>
                                                </div>
                                            </div>
                                            <div class="elementor-element elementor-element-6b97cfe elementor-widget elementor-widget-thim-ekits-header-info" data-id="6b97cfe" data-element_type="widget" data-widget_type="thim-ekits-header-info.default">
                                                <div class="elementor-widget-container">
                                                    <div class="header-info-swapper">
                                                        <ul class="thim-header-info">
                                                            <li>
                                                                <a href="https://1.envato.market/Yx2YR" target="_blank">

                                                                    WordPress
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="https://wordpress.org/plugins/learnpress/" target="_blank">

                                                                    LearnPress
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="https://eduma.thimpress.com/shop/" target="_blank">

                                                                    WooCommerce
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#" target="_blank">

                                                                    bbPress
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="elementor-section elementor-top-section elementor-element elementor-element-8ffc780 elementor-section-content-middle elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="8ffc780" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
                                <div class="elementor-container elementor-column-gap-no">
                                    <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-7964784" data-id="7964784" data-element_type="column">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-efab023 elementor-widget elementor-widget-text-editor" data-id="efab023" data-element_type="widget" data-widget_type="text-editor.default">
                                                <div class="elementor-widget-container">
                                                    <p><a href="https://1.envato.market/G5Ook?utm_source=demo&amp;utm_medium=demofooter&amp;utm_campaign=eduma">Premium LMS &amp; Online Education WordPress Theme</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-947903a" data-id="947903a" data-element_type="column">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-de7585c elementor-widget elementor-widget-thim-ekits-header-info" data-id="de7585c" data-element_type="widget" data-widget_type="thim-ekits-header-info.default">
                                                <div class="elementor-widget-container">
                                                    <div class="header-info-swapper">
                                                        <ul class="thim-header-info">
                                                            <li>
                                                                <a href="#" target="_blank">

                                                                    Privacy
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="terms-conditions/index.html" target="_blank">

                                                                    Terms
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#" target="_blank">

                                                                    Sitemap
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#" target="_blank">

                                                                    Purchase
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>

                    </div>
                </aside>
            </div>
        </div>
    </div>


</footer>